body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: helvetica, arial, sans-serif;
}

.loading-scene {
    background: #000;
    opacity: 90%;
    position: fixed;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.loading-spin{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid #fff;
    border-top-color: #000;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from{
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}

video {
    clear: both;
    display: block;
    background: #000000;
    width: 640px;
    height: 480px;
}

button {
    padding: 10px;
    float: left;
    margin: 5px 3px 5px 10px;
}

.removed {
    display: none;
}

#status {
    font-size:150%;
}
.button-area {
    display: flex;
}
#init-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}